.heading {
    display: flex;
    margin-left: 2%;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 6%;
    color: rgb(216, 185, 231);
    letter-spacing: 0.05rem;
    width: 50%;
    /* background: linear-gradient(30deg, rgba(105, 2234, 203, 1) 0%, rgb(225, 183, 245) 50%, rgba(102, 84, 241, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.img-nft {
    width: 50%;
    margin-top: 2%;
    padding: 5px;
    width: 45%;
  
    /* object-fit: fill; */
}

img {
    height: 100%;
    width: 100%;

}

/* //animation */

.heading h1 {
  opacity: 0;
  transform: translateY(0);
  animation: fadeInUp 5s ease forwards;
  animation-iteration-count: 4;
  animation-delay: 0s;
}

@keyframes fadeInUp {
  0% {
      opacity: 1;
      transform: translateY(0px);
  }
  100% {
      opacity: 1;
      transform: translateY(90px);
  }
}

  