.header {
    margin-left: 5%;
    font-size: 1.2rem;
    color: white;
    padding: 2%;
}

* {
    line-height: 150%;
}

ul li  {
    text-decoration: none;
    list-style: none;
}
.header ul li a{
    color: white;
    text-decoration: none;
}

.header ul {
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header ul li a:hover{
    color: rgb(141, 71, 141);
    cursor: pointer;
}


  
